<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Call Detail Record Analytics</title>

     <!-- Load d3.v3 -->
     <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/starter-template.css" rel="stylesheet">

    <!-- Dashboard -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/keen-dashboards.css" />
    
    <!-- Load SocketIO -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <!-- Load Bootstrap and Jquery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <!-- Load datetimepicker #FIXME errors bootstrapv3 vs.v4-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css"> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Load c3.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" type="text/css">    

    <!-- keen-analysis@1.2.2 -->
    <script src="https://d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js" type="text/javascript"></script>

    <!-- keen-dataviz@1.1.3 -->
    <link href="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
    <script src="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js" type="text/javascript"></script>

   </head>
    <!-- Install Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Call Detail Record-Dashboard</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://www.linkedin.com/in/arnab-sarkar/">About</a></li>
            <li><a href="https://github.com/myonlinecode1988/insight-project-arnab">Github</a></li>
            <li><a href="https://drive.google.com/open?id=1ZQjv-65dqP1-jEKcW0AKxVl5D-x73DUFmmh9Bkjb00c">Google Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="starter-template">
        <div class="row">
          <div class="col-md-6">
            <div class="chart-wrapper">
               <div class="chart-title" id="chart1"> <!--D3 plots California map here -->
                 CDR - Calls/second/county
               </div>
             </div>
           </div>
         <div class="col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Market Share
          </div>
          <div id="chart2"> <!--D3 plots stacked area plot here -->
            <h1 id="chart2"></h1>
          </div>
          </div>
           <form class="form-inline" action="/" method="post">
             <div class="row"> <!--Forms for datetime picking -->
               <div class='col-md-5'>
                 <div class="form-group">
                   <div class='input-group date' id='datetimepicker6'>
                     <input type='text' class="form-control" name="startT" value="Start Date,Time" />
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                   </div>
                 </div>
               </div>
             <div class='col-md-5'>
               <div class="form-group">
                 <div class='input-group date' id='datetimepicker7'>
                   <input type='text' class="form-control" name="endT" value="End Date,Time"/>
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                   </div>
                 </div>
               </div>
                 <button type="submit" class="btn btn-primary">GO</button>
               </div>
               <script type="text/javascript">
                   $(function () {
                       $('#datetimepicker6').datetimepicker({
		       format :"DD:MM:YYYY HH:mm"});
                       $('#datetimepicker7').datetimepicker({
		           format :"DD:MM:YYYY HH:mm",
                           useCurrent: false //Important! See issue #1075
                       });

                       $("#datetimepicker6").on("dp.change", function (e) {
                           $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                       });
                       $("#datetimepicker7").on("dp.change", function (e) {
                           $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                       });
                   });
               </script>
           </form>

        </div>
      </div>
    </div><!-- /.container -->



  <body class="keen-dashboard" style="padding-top: 50px;">
  <script src="../static/assets/js/src/call_count.js" type="text/javascript"></script>
  <script >
    var value_att = {{ value_att|safe }}
    var value_sprint = {{ value_sprint|safe }}
    var value_tmobile = {{ value_tmobile|safe }}
    var value_verizon = {{ value_verizon|safe }}
    var value_timestamp = {{ value_timestamp|safe }}
    
    var chart = c3.generate({
        bindto: '#chart2',
        size: {
          height: 500,
          width: 642
        },
        data: {
            columns: [
                value_att,
                value_sprint,
                value_tmobile,
                value_verizon
            ],
        types: {
                'AT&T': 'area-spline',
                'Sprint': 'area-spline',
                'T-mobile': 'area-spline',
                'Verizon': 'area-spline'
        },
        groups: [['AT&T', 'Sprint','T-mobile','Verizon']]},
	legend: {
        	position: 'right'
    	},
        axis: {
            x: {
                type: 'category',
                categories: value_timestamp,
                tick: {culling: {max: 4}}
            }
        }
        
        
    });
  </script>
  <script type="text/javascript" src="../static/assets/js/keen-analytics.js"></script>
  </body>
</html>
